<a href="https://colab.research.google.com/github/Pra-Tama/Tugas-Analysis-Big-Data/blob/main/Tugas_Praktikum_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIBRARY PANDAS

In [ ]:
import pandas as pd

Membaca File

In [ ]:
DataKapalTitanic = pd.read_csv('kapal_titanic.csv')

Melihat Isi File

In [ ]:
DataKapalTitanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [ ]:
DataKapalTitanic.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'deck'],
      dtype='object')

Load data dari kaggle.com

In [ ]:
!pip install kaggle.json

ERROR: Could not find a version that satisfies the requirement kaggle.json (from versions: none)
ERROR: No matching distribution found for kaggle.json

Perkuliahan minggu ke 4(Praktikum) 23.10”error”